
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row" style="text-align:center; padding-top: 200px; padding-bottom: 200px;">
    <h1>Welcome Mr. Adeel</h1>
</div>
