
@{
    ViewBag.Title = "Add New";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div ng-app="TestApp" ng-controller="AppCtrl" class="main-content form-horizontal" role="form">



    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">New Project</h3>
                    <ul class="panel-tool-options">
                        <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                        <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                        <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <form name="testForm">
                        <div id="rootwizard" class="form-horizontal form-wizard">
                            <div class="wizard-navbar">
                                <ul>
                                    <li class="active"><a href="#tab1" data-toggle="tab"><span>1</span>Project Information</a></li>
                                    <li><a href="#tab2" data-toggle="tab"><span>2</span>Project Commission</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="row4saperator">
                                        <div class="row">
                                            <label class="label4seperator">Project Information</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="textbox-margintop">

                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">

                                                <label class="col-md-5 control-label">Select Client</label>
                                                <div class="col-md-7">
                                                    <select id="Select_Client" required class="form-control">
                                                        <option value="default" selected>Select Client</option>
                                                        <option ng-repeat="client in clients" value="{{client.Id}}">{{client.CompanyName}}</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-md-3"></div>

                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="textbox-margintop">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-4 control-label">Project Name</label>
                                                    <div class="col-md-8">
                                                        <input id="textbox_projectName" required ng-model="projectName" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-sm-4 control-label">Starting Date</label>
                                                    <div class="col-sm-8">
                                                        <label class="control-label">{{date | date:'dd MMMM yyyy'}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="textbox-margintop">


                                            <div class="col-md-6">

                                                <label class="col-md-4 control-label">Spokeperson Name</label>
                                                <div class="col-md-8">
                                                    <input id="textbox_SpokepersonName" ng-model="SpokepersonName" class="form-control" />
                                                </div>

                                            </div>
                                            <div class="col-md-6">


                                                <label class="col-md-4 control-label">Spokeperson Contact#</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="textbox_spokepersonContact" class="form-control" ng-model="spokepersonContact">
                                                        <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="textbox-margintop">


                                            <div class="col-md-6">

                                                <label class="col-md-4 control-label">Working Location A</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input required id="textbox_workingLocationA" class="form-control" ng-model="workingLocationA">
                                                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">

                                                <label class="col-md-4 control-label">Working Location B</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="textbox_workingLocationB" class="form-control" ng-model="workingLocationB">
                                                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="textbox-margintop">

                                            <div class="col-md-6">


                                                <label class="col-md-4 control-label">Billing Type</label>
                                                <div class="col-md-8">
                                                    <select required id="Select_ProjectType" class="form-control">
                                                        <option value="default" selected>Select Project</option>
                                                        <option ng-repeat="projectBillingType in projectBillingTypes" value="{{projectBillingType.Id}}">{{projectBillingType.Type}}</option>
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="col-md-6">



                                                <label class="col-md-4 control-label">Billing Amount</label>
                                                <div class="col-md-8">

                                                    <div class="input-group">
                                                        <input ng-init="billingAmount=0" id="textbox_billingAmount" class="form-control" ng-model="billingAmount">
                                                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="textbox-margintop">
                                            <div class="col-md-6">

                                                <label class="col-md-4 control-label">Paid Amount</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="textbox_paidAmount" ng-init="paidAmount=0" class="form-control" ng-model="paidAmount">
                                                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <label class="col-md-4 control-label">Paid Tax</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="textbox_paidAmount" ng-init="paidTax=0" class="form-control" ng-model="paidTax">
                                                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <label class="col-md-7 control-label">Pending Amount</label>
                                            <div class="col-md-5">
                                                <label style="font-weight:400;color:red" class="control-label">{{billingAmount-paidAmount-paidTax}}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>


                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div class="row4saperator">
                                        <div class="row">
                                            <label class="label4seperator">Project Commission</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="textbox-margintop">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-4 control-label">Commision Person</label>
                                                    <div class="col-md-8">
                                                        <select required id="Select_Employee" class="form-control">
                                                            <option value="default" selected>Select Person</option>
                                                            <option ng-repeat="employee in employees" value="{{employee.Id}}">{{employee.FullName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div>
                                                        <label class="col-md-4 control-label">Commission</label>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="input-group">
                                                            <input id="textbox_comissionPercentage" ng-init="comissionPercentage=0" class="form-control" ng-model="comissionPercentage">
                                                            <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <label class="col-md-7 control-label">Comission Of Paid Amount</label>
                                            <div class="col-md-5">
                                                <label style="font-weight:400;color:red" class="control-label">{{((paidAmount-paidTax)/100)*comissionPercentage}}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <br />
                                    <br />
                                    <div style="text-align:center">
                                        <button id="MyBtn" ng-disabled="testForm.$invalid" ng-click="sendData()" type="submit" class="btn btn-primary">Add Record And Move Next</button>
                                    </div>
                                </div>

                                <ul class="pager wizard" style="margin-top:40px;">
                                    <li class="previous first"><a href="javascript:void(0)">First</a></li>
                                    <li class="previous"><a href="javascript:void(0)"><i class="icon-left-open"></i>Previous</a></li>
                                    <li class="next last"><a href="javascript:void(0)">Last</a> </li>
                                    <li class="next"><a href="javascript:void(0)">Next <i class="icon-right-open"></i></a> </li>
                                </ul>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>





<script>

    var AppMode = angular.module("TestApp", []);


    AppMode.controller("AppCtrl", function ($scope, $http) {

        $scope.date = new Date().toDateString();
        $http({
            url: '/api/NewProject',
            method: 'GET'

        }).then(function (resp) {
            var Data = resp.data;
            $scope.projectBillingTypes = Data.ProjectBillingTypes;
            $scope.employees = Data.Employees;
            $scope.clients = Data.Clients;

        });

        $scope.sendData = function () {

            var projectData = {
                ProjectBillingTypeId: $("#Select_ProjectType").val(),
                Name: $scope.projectName,
                StartingDate: $scope.date,
                WorkingLocationA: $scope.workingLocationA,
                WorkingLocationB: $scope.workingLocationB,
                SpokePersonName: $scope.SpokepersonName,
                SpokePersonContactNumber: $scope.spokepersonContact,
                BillingAmount: $scope.billingAmount,
                ComissionPercentage: $scope.comissionPercentage,
                Arrears: $scope.paidAmount,
                ClientId: $("#Select_Client").val()
            };
            var projectCommissionData = {
                EmployeeId: $("#Select_Employee").val(),
                ComissionAmount: ($scope.paidAmount / 100) * $scope.comissionPercentage,
                Date: $scope.date

            };


            $http({
                url: '/api/NewProject/New',
                method: 'POST',
                data: {

                    Project: projectData,
                    ProjectComission: projectCommissionData,
                    Tax: $scope.paidTax

                }

            }).then(function (resp) {

                toastr.success("Project Added Succeccfully");
                var Id = resp.data;
                window.location.href = '/project/AddEquipment/' + Id + "n";
            }, function () {
                toastr.error("There is some problen due to which Project is not added try back again. -ThankYou");

            });

        };


    });

    $(document).ready(function () {



        // Form Wizard
        if ($.isFunction($.fn.bootstrapWizard)) {
            $('#rootwizard').bootstrapWizard({
                tabClass: 'wizard-steps',
                onTabShow: function ($tab, $navigation, index) {
                    $tab.prevAll().addClass('completed');
                    $tab.nextAll().removeClass('completed');
                    $tab.removeClass('completed');
                }

            });

            $(".validate-form-wizard").each(function (i, formwizard) {
                var $this = $(formwizard);
                var $progress = $this.find(".steps-progress div");

                var $validator = $this.validate({
                    rules: {
                        username: {
                            required: true,
                            minlength: 3
                        },
                        password: {
                            required: true,
                            minlength: 3
                        },
                        confirmpassword: {
                            required: true,
                            minlength: 3
                        },
                        email: {
                            required: true,
                            email: true,
                            minlength: 3,
                        }
                    }
                });

                // Validation
                var checkValidaion = function (tab, navigation, index) {
                    if ($this.hasClass('validate')) {
                        var $valid = $this.valid();
                        if (!$valid) {
                            $validator.focusInvalid();
                            return false;
                        }
                    }

                    return true;
                };

                $this.bootstrapWizard({
                    tabClass: 'wizard-steps',
                    onNext: checkValidaion,
                    onTabClick: checkValidaion,
                    onTabShow: function ($tab, $navigation, index) {
                        $tab.removeClass('completed');
                        $tab.prevAll().addClass('completed');
                        $tab.nextAll().removeClass('completed');
                    }
                });
            });
        }
        

    });
</script>



