
@{
    ViewBag.Title = "ServicesToProjectTest";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div ng-app="TestApp" ng-controller="AppCtrl" class="main-content form-horizontal" role="form">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Service Information For Previous Project</h3>
                    <ul class="panel-tool-options">
                        <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                        <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                        <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <form name="testForm">
                        <div class="row">
                            <div class="col-md-2"></div>

                            <div class="col-md-4">
                                <md-input-container class="md-block">

                                    <md-select id="Select_Project" ng-model="project.Id">
                                        <label>Select Project</label>
                                        <md-option ng-repeat="project in projects" value="{{project.Id}}">{{ project.Name }}</md-option>

                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-md-4" style="text-align:center; padding: 2px; margin: 13px 0;">
                                <md-datepicker ng-model="date" md-placeholder="Enter date"></md-datepicker>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        @*<br />
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-2">
                                    <label class="control-label">Select Project</label>
                                </div>
                                <div class="col-md-4">
                                    <select id="Select_Project" class="form-control">
                                        <option value="default" selected>Select Project</option>
                                        <option ng-repeat="project in projects" value="{{project.Id}}">{{project.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <br />
                            <div class="row">

                                <div class="col-md-3"></div>
                                <div class="col-md-2">
                                    <label class="control-label">Select Date</label>
                                </div>
                                <div class="col-md-4">
                                    <input ng-model="date" class="form-control" ng-model-options="{timezone:'UTC'}" type="date" />
                                </div>

                                <div class="col-md-3"></div>
                            </div>*@
                        <br />

                        <div class="row4saperator">
                            <div class="row">
                                <label class="label4seperator">Service Information</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="textbox-margintop">


                                <div class="col-md-6">

                                    <label class="col-md-4 control-label">Visit Charges</label>
                                    <div class="col-md-8">
                                        <input id="textbox_visitCharges" ng-model="visitCharges" class="form-control" />
                                    </div>

                                </div>
                                <div class="col-md-6">


                                    <label class="col-md-4 control-label">Equipment Installation Charges</label>
                                    <div class="col-md-8">
                                        <input id="textbox_equipmentInstallationCharges" ng-model="equipmentInstallationCharges" class="form-control" />
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="textbox-margintop">


                                <div class="col-md-6">

                                    <label class="col-md-4 control-label">Equipment Repair Charges</label>
                                    <div class="col-md-8">
                                        <input id="textbox_equipmentRepairCharges" ng-model="equipmentRepairCharges" class="form-control" />
                                    </div>

                                </div>
                                <div class="col-md-6">


                                    <label class="col-md-4 control-label">Equipment Replacement Charges</label>
                                    <div class="col-md-8">
                                        <input id="textbox_equipmentReplacementCharges" ng-model="equipmentReplacementCharges" class="form-control" />
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="textbox-margintop">


                                <div class="col-md-6">

                                    <label class="col-md-4 control-label">Other Charges</label>
                                    <div class="col-md-8">
                                        <input id="textbox_otherCharges" ng-model="otherCharges" class="form-control" />
                                    </div>

                                </div>
                                <div class="col-md-6">


                                    <label class="col-md-4 control-label">Tower Paint And Maintenance Charges</label>
                                    <div class="col-md-8">
                                        <input id="textbox_towerPaintAndMaintenanceCharges" ng-model="towerPaintAndMaintenanceCharges" class="form-control" />
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="textbox-margintop">


                                <div class="col-md-6">

                                    <label class="col-md-4 control-label">Signal Strength</label>
                                    <div class="col-md-8">
                                        <input id="textbox_signalStrength" type="number" name="test" ng-model="signalStrength" class="form-control" min="-94" max="94" required />
                                        <span style="color:red" ng-show="testForm.test.$invalid">
                                            <span ng-show="testForm.test.$error.required">Signal Strength is required</span>
                                            <span ng-show="testForm.test.$error.min">Signal Strength Must Greater Than -95</span>
                                            <span ng-show="testForm.test.$error.max">Signal Strength Must Less Than 95</span>
                                        </span>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <br />

                        <div style="text-align:center">
                            <button id="MyBtn" ng-disabled="testForm.$invalid" ng-click="sendData()" type="submit" class="btn btn-primary">Add Service Record</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    var AppMode = angular.module("TestApp", ['ngMaterial']);


    AppMode.controller("AppCtrl", function ($scope, $http) {

        $http({
            url: 'http://localhost:64751/api/ServicesAddToProject',
            method: 'GET'

        }).then(function (resp) {
            var Data = resp.data;
            $scope.projects = Data;

        });

        $scope.sendData = function () {
            $http({
                url: 'http://localhost:64751/api/ServicesAddToProject/Add',
                method: 'POST',
                data: {
                    ProjectId: $("#Select_Project").val(),
                    VisitCharges: $scope.visitCharges,
                    Date: $scope.date,
                    IsFirstTime: false,
                    EquipmentRepairCharges: $scope.equipmentRepairCharges,
                    EquipmentReplacementCharges: $scope.equipmentReplacementCharges,
                    TowerPaintAndMaintenanceCharges: $scope.towerPaintAndMaintenanceCharges,
                    EquipmentInstallationCharges: $scope.equipmentInstallationCharges,
                    OtherCharges: $scope.otherCharges,
                    SignalStrength: $scope.signalStrength


                }

            }).then(function () {

                toastr.success("Service Added To Project Succeccfully");
                window.location.href = '/admin/index';
                //$("#textbox_visitCharges").val('');
                //$("#textbox_equipmentInstallationCharges").val('');
                //$("#textbox_equipmentRepairCharges").val('');
                //$("#textbox_equipmentReplacementCharges").val('');
                //$("#textbox_otherCharges").val('');
                //$("#textbox_towerPaintAndMaintenanceCharges").val('');
            }, function () {
                toastr.error("There is some problen due to which services are not added try back again. -ThankYou");

            });

        };


    });

</script>