@{
    ViewBag.Title = "ViewProjectDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div ng-app="myApp" ng-controller="myCtrl" class="main-content form-horizontal" role="form">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Project Details</h3>
                    <ul class="panel-tool-options">
                        <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                        <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                        <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">

                    <div class="row4saperator">
                        <div class="row">
                            <label class="label4seperator">Project Details</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="textbox-margintop">
                            <div class="col-md-6">
                                <div>
                                    <label class="col-md-4 control-label">Name</label>
                                    <div class="col-md-8">
                                        <label style="font-weight:400;" class="control-label">{{projects.Name}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label class="col-sm-4 control-label">Starting Date</label>
                                    <div class="col-sm-8">
                                        <label style="font-weight:400;" class="control-label">{{projectStartingDate}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="textbox-margintop">


                            <div class="col-md-6">

                                <label class="col-md-4 control-label">Project Billing Type</label>
                                <div class="col-md-8">
                                    <label style="font-weight:400;" class="control-label">{{projects.ProjectBillingType.Type}}</label>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label class="col-md-4 control-label">Billing Amount</label>
                                    <div class="col-md-8">
                                        <label style="font-weight:400;" class="control-label">{{projects.BillingAmount}}</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="textbox-margintop">
                            <div class="col-md-6">
                                <div>
                                    <label class="col-md-4 control-label">SpokePerson Name</label>
                                    <div class="col-md-8">
                                        <label style="font-weight:400;" class="control-label">{{projects.SpokePersonName}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label class="col-sm-4 control-label">SpokePerson Contact #</label>
                                    <div class="col-sm-8">
                                        <label style="font-weight:400;" class="control-label">{{projects.SpokePersonContactNumber}}</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="textbox-margintop">
                            <div class="col-md-6">


                                <label class="col-md-4 control-label">Working Location A</label>
                                <div class="col-md-8">
                                    <label style="font-weight:400; text-align:left" class="control-label">{{projects.WorkingLocationA}}</label>
                                </div>

                            </div>
                            <div class="col-md-6">


                                <label class="col-md-4 control-label">Working Location B</label>
                                <div class="col-md-8">
                                    <label style="font-weight:400; text-align:left" class="control-label">{{projects.WorkingLocationB}}</label>
                                </div>

                            </div>

                        </div>
                    </div>

                   

                    <div class="row4saperator">
                        <div class="row">
                            <label class="label4seperator">Commission Details</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="textbox-margintop">


                            <div class="col-md-6">

                                <label class="col-md-4 control-label">Commission Person</label>
                                <div class="col-md-8">
                                    <label style="font-weight:400;" class="control-label">{{projectCommision.Employee.FullName}}</label>
                                </div>

                            </div>
                            <div class="col-md-6">


                                <label class="col-md-4 control-label">Commission Percentage</label>
                                <div class="col-md-8">
                                    <label style="font-weight:400;" class="control-label">{{projects.ComissionPercentage}} %</label>
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="row4saperator">
                        <div class="row">
                            <label class="label4seperator">Cable Stock Used</label>
                        </div>
                    </div>
                    <table id="stockCableOut" style="text-align:center" class="table table-bordered table-responsive table-hover table-striped">

                        <thead style="text-align:center">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Used Feets
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="stockC in stockCableOuts">

                            <tr>
                                <td>
                                    {{stockC.CableRoll.Brand}}
                                </td>
                                <td>
                                    {{stockC.Totalfeets}}
                                </td>

                            </tr>
                        </tbody>
                    </table>


                    <div class="row4saperator">
                        <div class="row">
                            <label class="label4seperator">Equipment Stock Used</label>
                        </div>
                    </div>
                    <table id="stockEquiOut" style="text-align:center" class="table table-bordered table-responsive table-hover table-striped">

                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Brand
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Quantity Used
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="stockE in StockEquipmentOuts">
                            <tr>
                                <td>
                                    {{stockE.Equipment.Name}}
                                </td>
                                <td>
                                    {{stockE.Equipment.Brand}}
                                </td>
                                <td>
                                    {{stockE.EquipmentType.Type}}
                                </td>
                                <td>
                                    {{stockE.Quantity}}
                                </td>

                            </tr>
                        </tbody>
                    </table>


                    <div style="text-align:center; margin-top:15px;">
                        @Html.ActionLink("Back To List", "PreviousProjects", "Project", null, new { @class = "btn btn-primary" })
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<script>
    var AppMod = angular.module("myApp", []);
    var proId = location.pathname.split("/").pop();
    AppMod.controller("myCtrl", function ($scope, $http) {



        $http({

            url: '/api/ProjectDetails/' + proId,
            method: 'GET'
        }).then(function (resp) {
            var Data = resp.data;
            $scope.projects = Data.Project;
            $scope.projectStartingDate = new Date(Data.Project.StartingDate).toDateString();
            $scope.projectCommision = Data.ProjectComission;
            $scope.stockCableOuts = Data.StockCableOuts;
            $scope.StockEquipmentOuts = Data.StockEquipmentOuts;

        });


    });
</script>